
@{
    ViewData["Title"] = "Indexp";
    Layout = "~/Areas/admin/Views/share/_Layout.cshtml";
}

@*them san pham*@
<div class="modal fade" id="new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h4>THÊM SẢN PHẨM</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Tên sản phẩm
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="name" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Giá
                                                </span>
                                            </div>
                                            <input type="number" class="form-control bg-white" id="price" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Hình Ảnh
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="create" class="btn btn-primary" data-bs-dismiss="modal">Thêm mới</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@* Sua san pham *@
<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header">
                        <h4>CHỈNH SỬA SẢN PHẨM</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Tên sản phẩm
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" id="edit_name" />
                                            <input type="text" hidden id="edit_idp" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Giá
                                                </span>
                                            </div>
                                            <input type="number" class="form-control bg-white" id="edit_price" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 p-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    Hình Ảnh
                                                </span>
                                            </div>
                                            <input type="text" class="form-control bg-white" id="edit_image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="button" id="save" class="btn btn-primary" data-bs-dismiss="modal">Chỉnh sửa</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

@*hien thi thong tin san pham*@
<div class="card">
    <div class="card-header">
        <h4>THÔNG TIN SẢN PHẨM</h4>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new">
                    Thêm mới
                </button>
            </div>
            <div class="col-md-3">
                <span>Số dòng/trang</span>
            </div>
            <div class="col-md-2">
                @Html.DropDownList("Pagesize", new SelectList(ViewBag.Pagesize, "ID", "ID"), new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <div class="dropdown" style="float:right">
                    <select class="form-select" aria-label="Default select example" id="status">
                        <option selected value="1">Trang thai san pham</option>
                        <option value="1">Dang con</option>
                        <option value="0">Da het</option>

                    </select>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Tên Sản Phẩm
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Hình Ảnh
                    </th>
                    
                 
                    <th> </th>
                </tr>
            </thead>

            <tbody id="tbData"></tbody>
            <tfoot>
                <tr>
                    <th colspan="100" id="pages">

                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts{
    <script>


        var sanpham = {
            init: function () {
                sanpham.search(1);
                $("#search").change(function () {
                    sanpham.search(1);
                });
                $("#Pagesize").change(function () {
                    sanpham.search(1);
                });
                
                $("#create").click(function () {
                    sanpham.create();
                });
                $('#update').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget)
                    var idhd = button.data('whatever')

                    sanpham.getsanpham(idhd);

                });
               
                $("#save").click(function () {
                    sanpham.save();
                    sanpham.search(1);
                });

            },
            delete:function(id){
                   if(confirm("Bạn có muốn xóa hay không?")){
                       //Hanfh ddoonjg gọi action xóa
                    $.ajax({
                        type: 'get',
                        dataType: 'JSON',
                        url: '/Admin/Sanpham/Delete/' + id,
                        success: function (res) {
                           alert(res.mess);
                           sanpham.search(1);
                        }
                    });
                   }
               },
            getsanpham: function (id) {


                $.ajax({
                    type: 'get',
                    dataType: 'JSON',
                    url: '/Admin/Sanpham/getSanPham/' + id,
                    success: function (res) {
                        $("#edit_idp").val(res.data.idp);
                        $("#edit_name").val(res.data.name);
                        $("#edit_price").val(res.data.price);
                        $("#edit_image").val(res.data.image);
                        
                        

                    }
                });
            },
            search: function (index) {
                var name = $("#search").val();
                var size = $("#Pagesize").val();
                var form = new FormData()
                form.append("name", name);
                form.append("size", size);
                form.append("index", index);
                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/admin/Sanpham/ShowList/',
                    success: function (res) {
                        $("#tbData").html(res.data);
                        $("#pages").html(res.page);
                    },
                });
            },
            create: function () {
                var name = $("#name").val();
                var price = $("#price").val();
                var image = $("#image").val();
                

                var form = new FormData()
                form.append("name", name);
                form.append("price", price);
                form.append("image", image);
               

                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/Sanpham/Create/',
                    success: function (res) {

                        _layout.showtoast(res.mess);
                    },
                });
            },
            save: function () {
                var idp = $("#edit_idp").val();
                var name = $("#edit_name").val();
                var price = $("#edit_price").val();
                var image = $("#edit_image").val();

                var form = new FormData()
                form.append("idp", idp);
                form.append("name", name);
                form.append("price", price);
                form.append("image", image);

                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/Admin/Sanpham/Update/',
                    success: function (res) {

                        _layout.showtoast(res.mess);
                    },
                });
            },

           
            
        }
        sanpham.init();
        function goto(i) {
            sanpham.search(i);
        }
    </script>
}

