@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="https://localhost:7244/Client/trangchu/Index/"> Shop Của Bách</a></p>
    <p><a href="https://localhost:7244/admin/User/Index/"> Trang Quản Lý</a></p>
    <p><a href="https://localhost:7244/Client/trangchu/Login/"> Trang Login</a></p>
</div>
