
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/client/Views/share/_Layout1.cshtml";
}

@* slide *@
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="path_to_your_icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .carousel-control {
            opacity: 0;
            transition: opacity 0.5s;
        }

        .carousel:hover .carousel-control {
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width:900px; max-height: 250px;">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://cellphones.com.vn/media/wysiwyg/slide/06_17/Khai-truong-Banner-web_Landing_2000x700.jpg" alt="Los Angeles" style="width:100%; max-height: 250px;">
                        </div>
                        <div class="item">
                            <img src="https://webmedia.com.vn/images/2020/05/banner-slide-laptop-moi-gia-re-nhat-quang-ninh.jpg" alt="Chicago" style="width:100%; max-height: 250px;">
                        </div>
                        <div class="item">
                            <img src="https://anphat.com.vn/media/lib/29-04-2023/laptop.jpg" alt="New york" style="width:100%; max-height: 250px;">
                        </div>
                        <div class="item">
                            <img src="https://cdn-img-v2.webbnc.net/uploadv2/web/82/8269/media/2020/11/15/10/28/1605449277_untitled-312.png" alt="New york" style="width:100%; max-height: 250px;">
                        </div>
                    </div>

                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Khung slide bên phải -->
                <div id="rightCarousel" class="carousel slide" data-ride="carousel" style="max-width:500px; max-height: 250px;">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://datacare.vn/wp-content/uploads/2020/11/Banner-Cong-nghe-NA1611202040.jpg" alt="Right Slide 1" style="width:100%; max-height: 250px;">
                        </div>
                        <div class="item">
                            <img src="https://datacare.vn/wp-content/uploads/2020/11/Banner-Am-Nhac-%E2%80%93-LVHB0911202015.jpg" alt="Right Slide 2" style="width:100%; max-height: 250px;">
                        </div>
                        <div class="item">
                            <img src="https://img.pikbest.com/origin/06/04/96/40BpIkbEsTC9e.jpg!bw700" alt="Right Slide 3" style="width:100%; max-height: 250px;">
                        </div>
                        <div class="item">
                            <img src="https://img.pikbest.com/origin/05/94/30/94dpIkbEsTacD.jpg!bw700" alt="Right Slide 4" style="width:100%; max-height: 250px;">
                        </div>
                        <div class="item">
                            <img src="https://my-test-11.slatic.net/p/637b317e0d9e6cce4f99ab4f9bc16788.jpg" alt="Right Slide 5" style="width:100%; max-height: 250px;">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#rightCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#rightCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var $carousel = $('.carousel');

            $carousel.carousel({
                interval: 500
            });

            $carousel.hover(
                function () {
                    $(this).find('.carousel-control').fadeIn('fast');
                },
                function () {
                    $(this).find('.carousel-control').fadeOut('fast');
                }
            );
        });
    </script>
</body>
</html>



@* thong tin san pham *@

    
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="dropdown" style="float:right">
                    <!-- Dropdown content -->
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <!-- Wrap the table inside a responsive container -->
            <table class="table">
                <tbody id="tbData">
                    <!-- Product rows go here -->
                </tbody>
            </table>
        </div>
    </div>



@* thong tin chi tiet san pham*@

<style>
    /* Loại bỏ đường viền và padding của các input */
.input-group {
    border: none;
    padding: 0;
}

/* Tùy chỉnh giao diện input */
.form-control {
    border-radius: 0; /* Góc bo tròn */
    border: none; /* Loại bỏ đường viền */
    box-shadow: none; /* Loại bỏ bóng đổ */
}

/* Tùy chỉnh giao diện cho input số */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Tùy chỉnh giao diện cho input số trên Firefox */
[type="number"] {
    -moz-appearance: textfield;
}
    /* Tăng kích thước của ảnh */
    #edit_image {
        width: 100%; /* Điều chỉnh kích thước theo chiều rộng của div */
        height: 400px; /* Giữ tỷ lệ khung hình */
        /* Thêm viền cho ảnh */
        border: 3px solid #ccc; /* Đổi màu và độ dày của viền */
        border-radius: 10px; /* Làm cho góc viền cong hơn */
    }


    /* CSS để áp dụng cho các phần tử HTML */
    #edit_name {
        background: linear-gradient(40deg,#CC00FF, #FFCC00);
        -webkit-background-clip: text; /* cho trình duyệt Safari */
        -webkit-text-fill-color: transparent; /* cho trình duyệt Safari */
        background-clip: text;
        color: transparent;
        font-size: 25px; /* Chữ to */
        font-weight: bold; /* Chữ in đậm */
        margin-bottom: 20px;
    }

    #edit_price {
        color: #CC0000; /* Chữ màu đỏ */
        font-size: 16px; /* Chữ vừa */
    }

    #edit_quantity {
        color: #FFFFFF; /* Chữ màu trắng */
        font-size: 16px; /* Chữ vừa */
    }

    /* CSS cho container chứa thông tin */
    .info-container {
        width: 100%; /* Điều chỉnh theo kích thước mong muốn */
        /* Ngăn ngừa tràn chữ */
        word-wrap: break-word;
    }

    /* CSS cho phần thông tin */
    #edit_info {
        color: #888888;
        font-size: 14px;
    }




</style>

<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="background: linear-gradient(40deg,#CC00FF, #FFCC00);">
        <div class="modal-content">
            <div class="modal-header">
                <div class="">
                    <div class="input-group">
                        <p type="text" class="" id="edit_name" ></p>
                        <input type="text" hidden id="edit_idp" />
                    </div>
                </div>
            </div>
            <div class="modal-body" >
                <div class="row">
                    <div class="col-md-6" >
                        <img src="" alt="Hình ảnh sản phẩm" class="img-fluid" id="edit_image"  />
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            
                            <div class="card-body">
                               
                                    
                                    <div class="">
                                        <div class="input-group">
                                            <p class="">
                                            <div class="info-container">
                                                <h3>Giới Thiệu</h3>
                                                <span id="edit_info"></span>
                                            </div>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="input-group">
                                            <p class="form-control">
                                                <span style="font-weight: bold; font-size: larger; color: grey;">Giá: </span><span id="edit_price"></span> $
                                            </p>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="input-group">
                                            <p class="form-control">
                                                <span style="font-weight: bold; font-size: larger; color: grey;">Số Lượng: </span><span id="edit_quantity"></span>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="modal-footer">
                                    <button type="button" id="save" class="btn btn-primary" data-bs-dismiss="modal" style="background: linear-gradient(40deg,#CC00FF, #FFCC00);">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                        
                                    </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














@section scripts{
    <script>


        var trangchu = {
            init: function () {
                trangchu.search(1);
                $("#search").change(function () {
                    trangchu.search(1);
                });
                $("#Pagesize").change(function () {
                    trangchu.search(1);
                });
                $('#update').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget)
                    var idhd = button.data('whatever')

                    trangchu.getsanpham(idhd);

                });

                $("#save").click(function () {
                    trangchu.save();
                    trangchu.search(1);
                });
                
            },

                search: function (index) {
                    var name = $("#search").val();
                    var size = $("#Pagesize").val();
                    var form = new FormData()
                    form.append("name", name);
                    form.append("size", size);
                    form.append("index", index);
                    $.ajax({
                        type: 'POST',
                        dataType: 'Json',
                        contentType: false,
                        processData: false,
                        data: form,
                    url: '/client/Trangchu/ShowList/',
                        success: function (res) {
                            $("#tbData").html(res.data);
                            $("#pages").html(res.page);
                        },
                    });
                },
            getsanpham: function (id) {


                $.ajax({
                    type: 'get',
                    dataType: 'JSON',
                    url: '/client/Trangchu/getSanPham/' + id,
                    success: function (res) {
                        $("#edit_idp").val(res.data.idp);
                        $("#edit_name").text(res.data.name);
                        $("#edit_price").text(res.data.price);
                        $("#edit_image").attr("src", res.data.image);
                        $("#edit_quantity").text(res.data.quantity);
                        $("#edit_info").text(res.data.info);
                        
      
                    }
                });
            },

            save: function () {
                var idp = $("#edit_idp").val();
                var name = $("#edit_name").val();
                var price = $("#edit_price").val();
                var image = $("#edit_image").val();
                var quantity = $("#edit_quantity").val();
                var info = $("#edit_info").val();

                var form = new FormData()
                form.append("idp", idp);
                form.append("name", name);
                form.append("price", price);
                form.append("image", image);
                form.append("quantity", quantity);
                form.append("info", info);

                $.ajax({
                    type: 'POST',
                    dataType: 'Json',
                    contentType: false,
                    processData: false,
                    data: form,
                    url: '/client/Trangchu/Update/',
                    success: function (res) {

                        _layout.showtoast(res.mess);
                        trangchu.search(1);
                    },
                });
            },


        }

        trangchu.init();
        function goto(i) {
            trangchu.search(i);
        }
    </script>
}

